{% extends 'ui-base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load highlight %}

{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>A Simple Searching System</title>#}
{#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">#}
{#</head>#}
{% block head_extends %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block body %}
    <style>
        span.highlighted{
            color: #c00;
        }
    </style>
    <style>
        .ui-autocomplete{
            list-style-type: none;
            list-style-position: inside;
            background: #f1f1f1;
        }
    </style>

{#    <script>#}
{#        $(function () {#}
{#            $("#sear").on('input', function () {#}
{#                $.ajax({#}
{#                url: '/search/ajax',#}
{#                data: {#}
{#                    q: $("#sear").val()#}
{#                },#}
{#                dataType: 'json',#}
{#                success: data => {#}
{#                    console.log(data['result']);#}
{#                    $("#sear").autocomplete({#}
{#                        source: data['result'],#}
{#                        minLength: 3,#}
{#                        appendTo: "#sear",#}
{#                        position: {my : "top", at:"bottom"}#}
{#                    });#}
{#                }#}
{#            });#}
{#            })#}
{#        });#}
{#    </script>#}
        <script>
        $(function () {
            $("#searchbar").on('input', function () {
                $.ajax({
                url: '/search/ajax',
                data: {
                    q: $("#searchbar").val()
                },
                dataType: 'json',
                success: data => {
                    console.log(data['result']);
                    if (data['result'] != null){
                    $("#searchbar").autocomplete({
                        source: data['result'],
                        minLength: 1,
                        minChars: 0,
                        autofocus: true
                    });}
                }
            });
            })
        });
    </script>

    <form method="get" action=".">
        <nav class="navbar navbar-expand-lg gbg-cloudy-knoxville">
            <a href="" class="navbar-brand">
                <img src="{% static 'img/png/ds_logo.png' %}" width="180" alt="">
            </a>
            <div class="form-group mx-sm-3 mb-2">
                {{ form }}
            </div>
            <input type="submit" class="btn btn-primary" value="Search">
        </nav>
    </form>
<div class="col-10 container-fluid">
        {% if query %}
            <br>
            <div style="color: #70757a;">
            About {{ paginator.count }} results in {{ time }} seconds
            </div>
            {% if suggestion is not None %}
                <div style="color: #666;">
                Searching for
                {% for s in suggestion %}
                    <a href="{% url 'haystack_search' %}?q={{ s }}">{{ s }}</a>
                {% endfor %}?
                </div>
            {% endif %}
                        <br>
            {% for result in page.object_list %}
                <div>
                {% if result.object.url %}
                    <h4>
                        <a href="{{ result.object.url }}" target="_blank" style="color: #1a0dab">{% highlight result.object.title with query %}</a>
                    </h4>
                {% else %}
                    <h4>
                        <a href="{% url 'news-view' result.object.id %}" target="_blank" style="color: #1a0dab">{% highlight result.object.title with query %}</a>
                    </h4>
                {% endif %}
                </div>
                <div>{% highlight result.object.author with query %}</div>
                <div>{% highlight result.object.content with query %}</div>
                {% if result.object.url %}
                    <a href="{{ result.object.url }}" target="_blank" style="color: green">{% highlight result.object.url with query %}</a>
                    - <a href="{% url 'news-view' result.object.id %}" target="_blank" style="color: #666">UICds Snapshot</a>
                {% else %}
                     <a href="{% url 'news-view' result.object.id %}" target="_blank" style="color: green">http://search.uicds.xyz:8000{% url 'news-view' result.object.id %}</a>
                {% endif %}
                <br><br><br>
            {% empty %}
                <h5>No results found.</h5>
            {% endfor %}

{#            {% if page.has_previous or page.has_next %}#}
{#                <div>#}
{#                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}#}
{#                    |#}
{#                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}#}
{#                </div>#}
{#            {% endif %}#}
            {% if page.object_list %}
            <div aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_num in page_range %}
                        {% if page_num == '...' %}
                            <li class="page-item disabled"><a class="page-link" href="#">{{ page_num }}</a></li>
                        {% else %}
                            {% if page_num == page.number %}
                                <li class="page-item active">
                                    <span class="page-link">{{ page_num }}<span
                                            class="sr-only">{{ page_num }}</span></span>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link"
                                                         href="?q={{ query }}&amp;page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{ query }}&amp;page={{ page.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">Next</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% endif%}
        {% else %}
            <br>
            <h5>Search something!</h5>
        {% endif %}
</div>
{% endblock %}
{#</html>#}